<h1>醤油</h1>
<div class="post-container">
<% @posts.each do |t| %>
  <% if t.category == "syouyu" %>
   <div class="post">
   <%= image_tag t.image_url, size: "250x200" if t.image? %>
  <%= t.user.name %>
    <%= t.name %>
    <%= t.nedan %>
    <div>
    <h2>総合評価：
    <span class="star-rating">
     <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
     <span class="star-rating-back">★★★★★</span>
    </span> 
    </h2>
    </div>

    <%= link_to "詳細へ", post_path(t.id) %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.already_liked?(t) %>
        <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <p>いいねを取り消す</p><%= t.likes.count %>
        <% end %>
    <% else %>
        <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <p>いいね</p><%= t.likes.count %>
        <% end %>
    <% end %>
<% else %>
    <p>いいねの数 = </p><%= t.likes.count %>
<% end %>
  <%= link_to "編集する", edit_post_path(t.id) %>

  <%= button_to "削除する", post_path(t.id), method: :delete %>
<% end %>
<% end %>
</div>